{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Menu</h1>

    <div class="menu-container">
        {% for item in menu %}
            <div class="menu-item">
                <!-- Added clickable link for menu item -->
                <a href="{% url 'menu_item' pk=item.pk %}">
                    <p>{{ item.name }}</p>
                </a>
                <span class="menu-price">${{ item.price }}.00</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
